{% extends 'blog/base.html' %}

{% block content %}

{% if post.photo %}
<img src="{{ post.photo.url }}" width="600px", height="400px" /> <br/>
{% endif %}

<h1>{{ post.title }}</h1><br/>
<h5>{{ post.content }}</h5><br/>

<h6>작성일시 : {{ post.created_at }}, 수정일시 : {{ post.updated_at }}</h6> <hr/>

{% for comment in comment_list %}
    <li>
    {{ comment.message }} by {{ comment.user }}<br/>
    작성일시 : {{ comment.created_at }}
    </li>
{% endfor %}

<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" />
</form>

{% endblock %}